.card-div-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  max-width: 50vw;
  font-family: 'Noto Sans Thai', sans-serif;
  text-align: center;
}

.tags {
  display: inline;
}

h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
    line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0rem;
  text-overflow: ellipsis;
}

h5 {
  display: inline;
  margin: 0rem;
  color:#8b8b8b;
}

.btn {
  border: 1px solid;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-color: black;
  background-color: white;
}

.btn:hover {
  background-color: #dddddd;
}

.card-div-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  text-align: left;
}

.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; 
    line-clamp: 2; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color:#8b8b8b;
}

.mainImg {
  object-fit: cover;
  border-radius: 1rem;
  width: 12rem;
  height: 18rem;
}

.smallImg {
  object-fit: cover;
  border-radius: 1rem;
  width: 6rem;
  height: 6rem;
}

.title-href {
  color: black;
  text-decoration: none;
}

.read-more-href {
  margin: 0;
  color: #29a7d4;
  text-decoration: underline;
}

.tag-href {
  color: #8b8b8b;
  text-decoration: underline;
}